<div class="news_detail">

    <h1><%= news.title %></h1>
    
    <div class="image">
        <img src="/images/<%= news.image %>" alt="nwsnwsnws">
    </div>
    <%= news.content %>
    
    
    <div class="comments_list">
        <h2>Reacties</h2>
        <form method="post">
            <label>
                Jouw naam<br>
                <input type="text" name="author" id="info" placeholder="Jouw naam">
            </label>
            <label>
                Jouw reactie<br>
                <textarea name="comment" id="comment" cols="30" rows="4" placeholder="Plaats jouw reactie..."></textarea>
            </label>
            <button type="submit">Reactie plaatsen</button>
        </form>

        <% if( comments.length == 0 ) { %>
            <p>Er zijn geen reacties</p>
        <% } else { %>
            <% comments.forEach( (comment) => { %>
                <div class="comment">
                    <p><%= comment.content %></p>
                    <div class="info">Geplaatst door <%= comment.author %> op <%= comment.created_at %></div>
                </div>
            <% } ) %>
        <% } %>
    </div>
</div>